div#screenshots
{
	width: 506px; 
	margin: 0 auto; 
	height: 316px;
}

span.links
{
	border: none;
	margin: 0px 10px;
	font-size: 1.2em;
}
span.links:hover
{
	border-bottom: solid 3px #bd0000;
}

#nav li
{
	list-style-type: none;
	display: block; 
	height: 15px; 
	width: 20px; 
	background-color: white; 
	margin-right: 10px; 
	float: left;
	cursor: pointer;
}

#nav li.activeSlide
{
	background-color: #650b03;
}

#videoPlayer
{
	padding-top: 5px; 
	height:410px; 
	width: 500px; 
	margin: 20px auto; 
	background-color: Black; 
}

.border
{
	border: solid 3px #650b03
}
